<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AdviceDao">
    <select id="selectAdvices" resultType="Advice">
        SELECT advId,createName,createTime,content FROM advice limit #{firstRow},#{pageSize}
    </select>
    <insert id="insertAdvice">
        INSERT  INTO  advice VALUES (#{advId},#{createName},sysdate(),#{content},#{action})
    </insert>
    <select id="selectTotal" resultType="java.lang.Integer">
        select count(*) from advice;
    </select>
</mapper>
